@if(loading){
<div class="flex justify-center items-center h-full">
  <mat-progress-spinner
    color="primary"
    mode="indeterminate"
  ></mat-progress-spinner>
</div>

}@else {

<div class="my-5 mx-32">
  <mat-card appearance="outlined" class="!shadow-md !p-5 text-white" id="card">
    <p class="mb-8 zahey text-2xl">مسار : {{ course.level?.path?.name }}.</p>

    <div class="flex justify-between items-center almarai text-xl">
      <p>دورة : {{ course.title }}</p>
      <p>المستوى : {{ course.level?.name }}</p>
    </div>
  </mat-card>

  <div class="grid grid-cols-3 gap-4 mt-5">
    <mat-card
      appearance="outlined"
      class="!col-span-2 !shadow-md !p-5 !bg-white"
    >
      <div class="w-full">
        <quill-editor
          [(ngModel)]="postContent"
          [modules]="editorModules"
          (onEditorCreated)="onEditorCreated($event)"
          placeholder=""
        >
        </quill-editor>
      </div>

      <div class="flex justify-between gap-4">
        <div class="text-gray-600 mt-2">
          @if(selectedFiles.length > 0){ @for(file of selectedFiles;track
          $index){
          <div class="text-sm text-gray-500 flex justify-center items-center">
            <p>
              {{ file.name }}
            </p>

            <button
              type="button"
              (click)="removeFile(file)"
              class="text-red-500 ml-2"
            >
              <mat-icon>close</mat-icon>
            </button>
          </div>

          } }
        </div>

        <div class="flex gap-4">
          <label>
            <button
              mat-stroked-button
              type="button"
              (click)="fileInput.click()"
            >
              <mat-icon>attach_file</mat-icon> أرفق ملف
            </button>
          </label>

          <button mat-flat-button (click)="onSubmit()">
            <mat-icon>send</mat-icon> شارك
          </button>
        </div>

        <input
          type="file"
          (change)="onFilesSelected($event)"
          hidden
          multiple
          #fileInput
        />
      </div>
    </mat-card>

    <mat-card
      appearance="outlined"
      class="!col-span-1 !shadow-md !p-5 !bg-white"
    >
      <h2 class="text-lg font-bold almarai">الحصة القادمة</h2>
      <mat-divider class="!my-2"></mat-divider>
      <div class="my-2" *ngIf="nextSession; else noSession">
        <p class="almarai">
          <strong>التاريخ:</strong> {{ nextSession.formattedStartDate }}
        </p>
        <p class="almarai">
          <strong>الوقت:</strong>
          {{ nextSession.sessionStartDate | date : "shortTime" }}
        </p>
      </div>
      <ng-template #noSession>
        <p>لا توجد حصص قادمة.</p>
      </ng-template>

      <div class="flex justify-center">
        <button
          mat-flat-button
          class="!w-1/2"
          type="button"
          (click)="startGroupChatByCourseId(nextSession.courseId)"
        >
          <mat-icon>podcasts</mat-icon> ابدء البث
        </button>
      </div>
    </mat-card>
  </div>

  @for(post of posts ;track $index){

  <div class="grid grid-cols-3 gap-4 mt-5">
    <mat-card
      appearance="outlined"
      class="!shadow-md !p-5 !bg-white !col-span-2"
    >
      <mat-card-header class="">
        <div class="flex justify-between items-center w-full">
          <div class="flex items-center gap-4">
            <img
              mat-card-avatar
              src="assets/icons/user.svg"
              alt="Teacher Image"
              width="300"
            />

            <div>
              <p class="text-gray-800 text-lg">
                {{ post.course?.teacher?.name }}
              </p>
              <div class="flex gap-2">
                <p class="text-gray-800 text-sm">
                  {{ post.createdAt | date : "d MMMM" }}
                </p>
                <p class="text-gray-800 text-sm">
                  {{ post.createdAt | date : "h:mm a" }}
                </p>
              </div>
            </div>
          </div>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button
              mat-menu-item
              class="text-red-500"
              (click)="post.id !== null && deletePost(post.id)"
            >
              <mat-icon>delete</mat-icon> حذف
            </button>
          </mat-menu>
        </div>
      </mat-card-header>

      <mat-card-content class="!overflow-y-scroll">
        <div class="post-content" [innerHTML]="post.content"></div>
      </mat-card-content>

      @if((post.files ?? []).length > 0){
      <div class="mt-2">
        <p class="text-gray-800 text-sm">ملفات مرفقة</p>
        @for(file of post.files;track $index){ @if(file.id){
        <button
          mat-button
          *ngIf="file.filePath !== null"
          (click)="downloadFile(file.filePath)"
        >
          <mat-icon>download</mat-icon> تحميل
        </button>
        } }
      </div>
      }
    </mat-card>
  </div>

  }
</div>

}
