<mat-sidenav-container class="!h-full">
  <!-- <mat-sidenav mode="push" [(opened)]="opened" class="!border-4 !border-[#4caf50] "> -->
  <mat-sidenav mode="push" [(opened)]="opened">
    <div class="my-2 mx-2 p-2 border border-[#4caf4f] rounded-lg">
      <div class="flex items-center justify-between almarai">
        <div class="flex items-center gap-2">
          <mat-icon> account_circle </mat-icon>
          @if(admin){

            <span> {{ admin.name}} </span>
          }
        </div>
        <button
          class="flex items-center justify-center"
          mat-icon-button
          (click)="logout()"
          style="color: red"
        >
          <mat-icon>logout</mat-icon>
        </button>
      </div>
      <small class="almarai">المسؤول التقني</small>
    </div>

    <mat-nav-list class="!mx-2">
      @for (link of links; track link) {

      <a
        class="flex justify-center items-center py-2 gap-2 hover:bg-[#292a2c1a] hover:rounded-2xl almarai"
        routerLink="{{ link.route }}"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon matListItemIcon>
          {{ link.icon }}
        </mat-icon>
        <span class="nav-label">{{ link.name }}</span>
      </a>

      <mat-divider class="!mx-5"></mat-divider>

      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>لوحة تحكم المسؤول </span>
    </mat-toolbar>
    <mat-divider></mat-divider>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
