.backgroundImage {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden; /* important */
}

.backgroundImage::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('/assets/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(2px);
    transform: scale(1.1); /* avoids blur edges */
    z-index: -1;
}

.laptopBackground{
    background-image: url('/assets/images/laptop.png');
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    
}