<div class="backgroundImage h-screen">
  <nav class="flex justify-between items-center lg:py-2 px-2 lg:px-10 py-5 bg-[#104d46] ">
    <div class="flex justify-between items-center">
      <div class="flex justify-center items-center gap-0">
        <img class="w-60" src="assets/images/logo-white.png" />
      </div>
    </div>

    <nav >
      <div class="hidden lg:block">
        <button
          mat-button
          (click)="scrollTo('home')"
          class="!text-lg !font-semibold !text-[#e2e4b6]"
        >
          الرئيسية
        </button>
        <button
          mat-button
          (click)="scrollTo('quran')"
          class="!text-lg !font-semibold !text-[#e2e4b6]"
        >
          مسار القرآن الكريم
        </button>
        <button
          mat-button
          (click)="scrollTo('matn')"
          class="!text-lg !font-semibold !text-[#e2e4b6]"
        >
          مسار المتون
        </button>
        <button mat-button class="!text-lg !font-semibold !text-[#e2e4b6]">
          حول المنصة
        </button>
      </div>
    </nav>

    <div class="hidden lg:flex gap-2">
      <button
        mat-flat-button
        class="!text-sm !font-semibold !text-[#e2e4b6]"
        routerLink="login"
      >
        تسجيل الدخول
      </button>
      <button mat-button class="!text-sm !font-semibold !text-[#e2e4b6]" routerLink="register">
        الإشترك في المنصة
      </button>
    </div>

    <button class="lg:!hidden !bg-[#e2e4b6] !text-white" mat-icon-button [matMenuTriggerFor]="menu">
      <img src="assets/icons/menu.svg" alt="" />
    </button>

    <mat-menu #menu="matMenu" class="!w-screen !max-w-screen !mx-10 !bg-white">
      <button
        mat-menu-item
        (click)="scrollTo('home')"
        class="!text-lg !font-semibold !text-black"
      >
        الرئيسية
      </button>
      <mat-divider class="!border-gray-400 !mx-2 !my-0"></mat-divider>

      <button
        mat-menu-item
        (click)="scrollTo('quran')"
        class="!text-lg !font-semibold !text-black"
      >
        مسار القرآن الكريم
      </button>
      <mat-divider class="!border-gray-400 !mx-2 !my-0"></mat-divider>

      <button
        mat-menu-item
        (click)="scrollTo('matn')"
        class="!text-lg !font-semibold !text-black"
      >
        مسار المتون
      </button>
      <mat-divider class="!border-gray-400 !mx-2 !my-0"></mat-divider>

      <button mat-menu-item class="!text-lg !font-semibold !text-black">
        حول المنصة
      </button>

      <mat-divider class="!border-gray-400 !mx-2 !my-0"></mat-divider>

      <button
        mat-menu-item
        class="!text-sm lg:!text-lg !font-semibold"
        routerLink="login"
      >
        تسجيل الدخول
      </button>

      <mat-divider class="!border-gray-400 !mx-2 !my-0"></mat-divider>

      <button
        mat-menu-item
        class="!text-sm lg:!text-lg !font-semibold"
        routerLink="register"
      >
        الإشترك في المنصة
      </button>
    </mat-menu>
  </nav>






<hr class="bg-[#daa41b] h-1 border-0" />

  <div class="relative mt-5">
    <!-- Right branch -->
    <img
      src="assets/images/home/branch-right.png"
      class="absolute right-0 top-0 w-[700px] pointer-events-none select-none hidden lg:block"
    />

    <!-- Left branch -->
    <img
      src="assets/images/home/branch-left.png"
      class="absolute left-0 top-0 w-[700px] pointer-events-none select-none hidden lg:block"
    />

    <div class="flex flex-col justify-center items-center text-center">
      <img class="w-[500px] mt-10" src="assets/images/full-logo.png" />

      <p
        class="almarai text-xl lg:text-2xl leading-relaxed px-10 lg:px-56 pt-20"
      >
        تقدم <span class="zahey">مِنَصَّة الوَحْيَيْن</span> خدمات الكتاتيب
        القرآنية عبر الشبكة بأساليب مبتكرة تسهّل الوصول إلى التعليم القرآني
        للجميع.
      </p>
    </div>
  </div>
</div>

<div class="bg-[#4caf50] p-3 text-center" id="quran">
  <p class="text-white almarai text-xl lg:text-3xl mx-10 lg:mx-56">
    مسار القرآن الكريم
  </p>
</div>

<div
  class="flex justify-between items-center px-5 lg:px-56 py-5 lg:py-10 bg-[#fcfcfc]"
>
  <div class="lg:w-1/2">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>البرنامج</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>
          ركّز هذا المسار على تعليم علوم القرآن، بما في ذلك التجويد بقواعده وحفظ
          الآيات و تتم الدراسة تحت إشراف المعلم، كما توفّر المنصة دروسًا تفاعلية
          وفوائد يمكن للطالب الاستفادة منها بشكل ذاتي.
        </p>
      </mat-card-content>
    </mat-card>

    <br />

    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title> المنهجية</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>
          يعلم الطالب بشكل تطبيقي قواعد التجويد أثناء حفظه للسور عن طريق السماع
          للمعلم و تصحيح أخطائه.
        </p>
      </mat-card-content>
    </mat-card>

    <br />

    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title> المنصة</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>
          تنظم المنصة مواعيد اللقاء مع المعلم و توفر دروسًا تفاعلية وفوائد يمكن
          للطالب الاستفادة منها بشكل ذاتي.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="lg:w-1/2 hidden lg:flex justify-center">
    <img width="300px" src="assets/icons/quran.svg" alt="" />
  </div>
</div>

<div class="bg-[#4caf50] p-3 text-center" id="matn">
  <p class="text-white almarai text-xl lg:text-3xl mx-10 lg:mx-56">
    مسار المتون
  </p>
</div>

<div
  class="flex justify-between items-center px-5 lg:px-56 py-5 lg:py-10 bg-[#fcfcfc]"
>
  <div class="lg:w-1/2 justify-center hidden lg:flex">
    <img width="200px" src="assets/images/books.svg" />
  </div>

  <div class="lg:w-1/2">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>البرنامج</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>
          تنظم المنصة جدول الطالب و تبقيه على اطلاع بمواعد الدروس و مواضيعها، و توفر له كذلك إمكانية التواصل المباشر مع المعلم أثناء الحصة أو بعدها.
        </p>
      </mat-card-content>
    </mat-card>

    <br />

    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title> المنهجية</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>
          يحضر الطالب حصصا مباشرة للمعلم أثناء شرحه للمتن أو يشاهد مقاطع مسجلة.
        </p>
      </mat-card-content>
    </mat-card>

    <br />

    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title> المنصة</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>
          يركّز هذا المسار على تدارس مختلف المتون العلمية و شرحها من طرف المعلم متيحا الفرصة للطلبة لطرح إشكالاتهم و إستفساراتهم.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="footer bg-[#efefef] p-3">
  <div class="flex justify-start items-center">
    <img class="w-44" src="assets/images/logo.png" />
  </div>
</div>
